<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estadistica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Estadística VPro"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".VistaPruebasDeHipotesisVarianza"></activity>
        <activity android:name=".VistaPruebasDeHipotesisMediaDesviacionDesconocida" />
        <activity android:name=".vistaPruebashipotesisMediaDesviacionDesconocida" />
        <activity android:name=".LogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PruebasDeHipotesis" />
        <activity android:name=".VistaIntervalosConfianzaDiferenciaProporciones" />
        <activity android:name=".VistaIntervalosConfianzaProporciones" />
        <activity android:name=".VistaIntervalosConfianzaRazonEntreVarianzas" />
        <activity android:name=".VistaIntervalosConfianzaDiferenciaMediasVarDesconocidasPeroDiferentes" />
        <activity android:name=".VistaIntervalosConfianzaDifMediasDesviacionesDesconocidasPeroIguales" />
        <activity
            android:name=".VistaIntervalosConfianzaDifMediasDesviacionesConocidas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VistaIntervalosConfianzaVarianza"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VistaIntervalosConfianzaMediaDesEstandarDesconocida"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CTMDifProporciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CTMProporciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CTMDifMedias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CTMSumatorias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CTM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VistaIntervalosConfianza"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuPruebasHip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuTCL"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuIntervalosConfianzaFinal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PRUEBAHIPOTESISALTERNATOAST"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HIPOTESISNULATOAST"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuAuxiliar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuRegresionLineal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu_teorema_central_limite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuGeneral"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>